@import "tailwindcss";


@font-face {
  font-family: 'Iranyekan';
  src: url('./assets/fonts/Qs_Iranyekan.ttf') format('woff2'),
       url('./assets/fonts/Qs_Iranyekan_bold.ttf') format('woff');
  font-weight: 400; /* or 700, etc. */
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Iranyekan, sans-serif;
  
}

